<div class="box">
    <h2 class="title is-4">Panel Principal</h2>
    <p class="subtitle is-6">Vista general del inventario y estadísticas.</p>
</div>

<div class="columns is-multiline mt-4">
    <div class="column is-one-third">
        <div class="box has-text-centered">
            <p class="title is-5">Medicamentos Totales</p>
            <p id="dash-total" class="subtitle is-1 has-text-primary">0</p>
        </div>
    </div>
    <div class="column is-one-third">
        <div class="box has-text-centered">
            <p class="title is-5">Próximos a Vencer (&le;90d)</p>
            <p id="dash-proximos" class="subtitle is-1 has-text-warning">0</p>
        </div>
    </div>
    <div class="column is-one-third">
        <div class="box has-text-centered">
            <p class="title is-5">Agotados</p>
            <p id="dash-agotados" class="subtitle is-1 has-text-danger">0</p>
        </div>
    </div>
    <div class="column is-one-third">
        <div class="box has-text-centered">
            <p class="title is-5">Valor Inventario</p>
            <p id="dash-valor" class="subtitle is-1">Q0</p>
        </div>
    </div>
    <div class="column is-one-third">
        <div class="box has-text-centered">
            <p class="title is-5">Bajo Stock Mínimo</p>
            <p id="dash-bajo" class="subtitle is-1 has-text-warning">0</p>
        </div>
    </div>
    <div class="column is-one-third">
        <div class="box has-text-centered">
            <p class="title is-5">Vencidos</p>
            <p id="dash-vencidos" class="subtitle is-1 has-text-danger">0</p>
        </div>
    </div>
    <!-- Puedes agregar más "widgets" o información aquí como más columns -->
</div>
